table{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    border-spacing: 5px ;
}
caption{
    background-color: gray;
}
th,td{
    border: 1px solid;
    padding:10px;
    text-align: center;

}

.table{
    border: 1px solid;
    width: fit-content;
}

